<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SAV{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('other/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('other/jquery.couch.js') }}"></script>
    <script src="{{ asset('other/moment-with-locales.js') }}"
    <script src="{{ asset('chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('chart.js/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('other/chartjs-plugin-streaming.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="chart.js/Chart.min.css">

</head>
<body>
{% block body %}
    {% for i in 1..12 %}
        <div style="width: 300px;height: 200px;float:left">
            <canvas id="chart__{{ i }}" ></canvas>
        </div>
        <script>

            $(function(){


                var ctx = document.getElementById('chart__{{ i }}').getContext('2d');

                var chart = new Chart(ctx, {
                    type: 'line',
                    responsive:false,
                    data: {
                        datasets: [{
                            data: []
                        }]

                    },

                    options: {
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    delay: 2000,
                                    onRefresh: function (chart) {

                                        $.getJSON( "/data", {sensor: {{ i }} },function( data ) {
                                            var items = [];
                                            $.each( data, function( key, val ) {


                                                chart.data.datasets.forEach(function (dataset) {
                                                    console.log(dataset);

                                                    dataset.data.push({
                                                        x: moment(val.d),
                                                        y: val.v
                                                    });

                                                });


                                            });

                                        });




                                    }
                                }
                            }]
                        }
                    }

                });

            });

        </script>

    {% endfor %}


{% endblock %}
{% block javascripts %}

{% endblock %}
</body>

</html>
