<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SAV{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('other/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('other/jquery.couch.js') }}"></script>
    <script src="{{ asset('other/moment-with-locales.js') }}"
    <script src="{{ asset('chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('chart.js/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('other/chartjs-plugin-streaming.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="chart.js/Chart.min.css">

</head>
<body>
{% block body %}
<script>
    $(function(){
       document.sensors = { } ;
    });
</script>
    {% for i,sensor in sensors %}
    <div style="width: 300px;height: 200px;float:left;border:solid 1px lightgray;text-align: center;font-weight: bold">
        <label>{{ sensor.name }} ({{i }})</label>

        <canvas id="chart__{{ i }}" ></canvas>
    </div>

        <script>

            $(function(){


                var ctx = document.getElementById('chart__{{ i }}').getContext('2d');

                var chart = new Chart(ctx, {
                    type: 'line',
                    title: "{{ sensor.name }}",

                    responsive:false,
                    data: {
                        datasets: [{
                            data: []
                        }]

                    },

                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    delay: 2000,
                               }
                            }],
			yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 100,
                                stepValue: 50,
                                max: 1023
                            }
                        }]
                        }
                    }

                });

                document.sensors[{{ i }}] = chart;

            });

        </script>

    {% endfor %}


    <script>
        $(function(){

            function refreshData() {

                console.log("Yo");

                $.getJSON( "/data2", {},function( data ) {

                    console.log("Données reçues : ",data);

                    data.forEach(function(item){
                        var sensor_id = item.sensor_id ;
console.log(item.sensor_id);
                        var chart = document.sensors[item.sensor_id] ;
if (chart==null) return ;
                        chart.data.datasets[0].data.push({
                                x: moment(item.d),
                                y: item.v
                            });

                        console.log(item.sensor_id);

                    });


                    });




                    setTimeout(refreshData, 2000);

            }


            setTimeout(refreshData, 2000);

        });
    </script>



{% endblock %}
{% block javascripts %}

{% endblock %}
</body>

</html>
