<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SAV{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script>
            let socket = new WebSocket("wss://javascript.info/article/websocket/chat/ws");

            // send message from the form
            document.forms.publish.onsubmit = function() {
                let outgoingMessage = this.message.value;

                socket.send(outgoingMessage);
                return false;
            };

            // show message in div#messages
            socket.onmessage = function(event) {
                let message = event.data;

                let messageElem = document.createElement('div');
                messageElem.textContent = message;
                document.getElementById('messages').prepend(messageElem);
            }
        </script>
        {% endblock %}
    </body>

</html>
